h1 {
  border-bottom: 1px solid lightgrey;
}

.book-cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.book {
  border: 1px solid lightgrey;
  width: 400px;
  padding: 10px;
  margin: 5px;
}